[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	di = diff
	puhs = push
	psuh = push
	pus = push
	puh = push
	pul = !git pull && git submodule update --init
	lg = log --graph --pretty='format:%C(yellow)%h%C(blue)%d%C(reset) %s %C(cyan)%an, %ar%C(reset)'
	
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = khrtz
	email = garula.oze498@gmail.com
[url "https://github.com/"]
	insteadOf = git://github.com/
[url "git@github.com:"]
	pushinsteadof = https://github.com/
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	excludesfile = /Users/kohee/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
